<!DOCTYPE html>
<html lang="en">
    <div class="col-md-2">
        <div class="sidebar content-box" style="display: block;">
            <ul class="nav">
                <!-- Main menu -->

                <li class="submenu">
                    <a href="#">
                        <i class="glyphicon glyphicon-list"></i> Phòng
                        <span class="caret pull-right"></span>
                    </a>
                    <!-- Sub menu -->
                    <ul>
                        <li><a href="/admin/viewAllRoom">Xem tất cả phòng</a></li>
                        <li><a href="/admin/addNewRoom">Thêm mới phòng</a></li>
                        <li><a href="/admin/viewAllRoomType">Xem loại phòng</a></li>
                        <li><a href="/admin/addNewRoomType">Thêm mới loại phòng</a></li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="#">
                        <i class="glyphicon glyphicon-list"></i> Dịch vụ
                        <span class="caret pull-right"></span>
                    </a>
                    <!-- Sub menu -->
                    <ul>
                        <li><a href="/admin/viewAllService">Xem tất cả dịch vụ</a></li>
                        <li><a href="/admin/addNewService">Thêm mới dịch vụ</a></li>
                        <li><a href="/admin/viewCurrentStayBooking">Sử dụng dịch vụ</a></li>
                    </ul>
                </li>

                <li class="submenu">
                    <a href="#">
                        <i class="glyphicon glyphicon-list"></i> Báo cáo
                        <span class="caret pull-right"></span>
                    </a>
                    <!-- Sub menu -->
                    <ul>
                        <li><a href="/admin/viewReportBooking">Xem thu nhập</a></li>

                    </ul>
                </li>

                <li class="submenu">
                    <a href="#">
                        <i class="glyphicon glyphicon-list"></i> Quản Lý Tài Khoản
                        <span class="caret pull-right"></span>
                    </a>
                    <!-- Sub menu -->
                    <ul>
                        <li><a href="/admin/viewAllAccount">Xem tất cả TK</a></li>
                        <li><a href="/admin/addNewAccount">Thêm tài khoản</a></li>

                    </ul>
                </li>
            </ul>
        </div>
    </div>
</html>