<!DOCTYPE html>
<html lang="en">



<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery.js"></script>
<!-- jQuery UI -->
<script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/bootstrap/js/bootstrap.min.js"></script>

<script src="/vendors/form-helpers/js/bootstrap-formhelpers.min.js"></script>

<script src="/vendors/select/bootstrap-select.min.js"></script>

<script src="/vendors/tags/js/bootstrap-tags.min.js"></script>

<script src="/vendors/mask/jquery.maskedinput.min.js"></script>

<script src="/vendors/moment/moment.min.js"></script>

<script src="/vendors/wizard/jquery.bootstrap.wizard.min.js"></script>

<!-- bootstrap-datetimepicker -->
<link href="vendors/bootstrap-datetimepicker/datetimepicker.css" rel="stylesheet">
<script src="vendors/bootstrap-datetimepicker/bootstrap-datetimepicker.js"></script>


<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css"
      rel="stylesheet"/>
<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>

<script src="/js/custom.js"></script>
<script src="/js/forms.js"></script>
</html>