<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="col-md-2">
    <div class="navbar navbar-inverse" role="banner" style="color: white; top: 20px;">
        <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
            <div style="font-weight: bold; font-size: 12px">
                <span>Chào </span><span th:utext="${#request.userPrincipal.getName()}"></span> || </span><a
                    href="/logout">Logout</a>
            </div>



            <!--                        <ul class="nav navbar-nav">-->

            <!--                            <li class="dropdown">-->
            <!--                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">TÀI KHOẢN <span th:text="${#authentication.getPrincipal().get()}"></span><b-->
            <!--                                        class="caret"></b>-->
            <!--                                <ul class="dropdown-menu animated fadeInUp">-->
            <!--                                    <li><a href="">Profile</a></li>-->
            <!--                                    <li><a href="/logout">Logout</a></li>-->
            <!--                                </ul>-->
            <!--                            </li>-->
            <!--                        </ul>-->
        </nav>
    </div>
</div>
</body>
</html>