<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="client/fragment::baseHeader(~{::title},~{},~{})">
	<title>Về chúng tôi</title>
</head>

<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
                                                                                                                       your
                                                                                                                       browser</a>
                          to improve your experience.</p>
<![endif]-->
<!-- Pre Loader
============================================ -->
<div class="preloader">
	<div class="loading-center">
		<div class="loading-center-absolute">
			<div class="object object_one"></div>
			<div class="object object_two"></div>
			<div class="object object_three"></div>
		</div>
	</div>
</div>


<div class="wrapper">
	<!--Header section start-->
	<div class="header-section about-us">
		<div class="bg-opacity"></div>
		<div th:insert="client/fragment::navbar"></div>
		<!--Welcome secton-->
		<div class="welcome-section text-center ptb-110">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="breadcurbs-inner">
							<div class="breadcrubs">
								<h2>About us</h2>
								<div class="breadcrubs-menu">
									<ul>
										<li><a href="#">Home<i class="mdi mdi-chevron-right"></i></a></li>
										<li>About us</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<!--Header section end-->
	<!-- search bar Start -->
	<div th:replace="client/fragment::search-bar"></div>
	<!-- search bar End -->
	<!--About Section Title start-->
	<div class="about-section text-center ptb-80 white_bg">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-title mb-80">
						<h2>About <span>NHẬT-VƯƠNG HOTEL</span></h2>
						<!--						<p>There are many variations of passages of Lorem Ipsum available, but the majority have-->
<!--						   suffered by injected humour.</p>-->
					</div>
				</div>
				<div class="col-md-12">
					<div class="about-NHẬT-VƯƠNG HOTEL">
						<div class="about-member">
							<img src="images/about.jpg" alt="">
							<h3>Mohin patwary</h3>
							<h5 class="mb-0">hrd head</h5>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--About Section end-->
	<!--Hotel Exlusive offer start-->
	<div class="hotel-exclusive ptb-100 text-center">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-6 col-xs-12">
					<div class="single-exclusive">
						<h3>Exclusive</h3>
						<p>There are many variations of passages of Lorem Ipsum available, but the majority have
						   suffered </p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12">
					<div class="single-exclusive">
						<h3>Complimentary</h3>
						<p>There are many variations of passages of Lorem Ipsum available, but the majority have
						   suffered </p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12">
					<div class="single-exclusive">
						<h3>Earn Points</h3>
						<p>There are many variations of passages of Lorem Ipsum available, but the majority have
						   suffered </p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12">
					<div class="single-exclusive">
						<h3>Join For Free</h3>
						<p>There are many variations of passages of Lorem Ipsum available, but the majority have
						   suffered </p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--Hotel Exlusive offer end-->
	<!--Hotel feature start-->
	<div class="hotel-feature pt-80 white_bg">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-6 col-xs-12">
					<div class="feature-desc text-left">
						<div class="section-title mb-30">
							<h2>Feature <span>NHẬT-VƯƠNG HOTEL</span></h2>
							<p>There are many variations of passages of Lorem Ipsum available, but the majority have
							   suffered alteration in some form, by injected huor randomised words which don't look even
							   slightly believable. If you are going to useassage of Lorem Ipsum, you need to be sure
							   thereng en in the middle of text</p>
						</div>
						<div class="feature-item">
							<ul>
								<li>
									<span>1.</span>But the majority have suffered alteration in some.
								</li>
								<li>
									<span>2.</span>Useassage of Lorem Ipsum, you need to be sure thereng .
								</li>
								<li>
									<span>3.</span>Ay injected huor randomised words which don't .
								</li>
								<li>
									<span>4.</span>By sage of Lorem Ipsum, you need to be sure thereng en in the.
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12">
					<div class="feature-img-tab">
						<div class="feature-tab-desc">
							<div class="tab-content">
								<div role="tabpanel" class="tab-pane active" id="feature1">
									<div class="feature-tab-inner">
										<img src="images/services/services6.jpg" alt="">
									</div>
								</div>
								<div role="tabpanel" class="tab-pane" id="feature2">
									<div class="feature-tab-inner">
										<img src="images/services/services7.jpg" alt="">
									</div>
								</div>
							</div>
						</div>
						<div class="feature-tab-item">
							<ul class="nav" role="tablist">
								<li class="active"><a href="#feature1" data-toggle="tab"><img
										src="images/services/tab-1.jpg" alt=""></a></li>
								<li><a href="#feature2" data-toggle="tab"><img src="images/services/tab-2.jpg"
								                                               alt=""></a></li>

							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--Hotel feature end-->
	<!--Our staff start-->
	<div class="our-staff text-center ptb-80 white_bg">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-title mb-80">
						<h2>our <span>Staff</span></h2>
						<!--						<p>There are many variations of passages of Lorem Ipsum available, but the majority have-->
<!--						   suffered by injected humour.</p>-->
					</div>
				</div>
			</div>
			<div class="staff-list">
				<div class="row">
					<div class="carousel-list">
						<div class="col-md-4">
							<div class="single-staff">
								<div class="sraff-inner">
									<img src="images/staff/staff1.jpg" alt="">
									<div class="staff-title">
										<span class="plus"></span>
										<h2>Soleman</h2>
										<h5>hotel staff</h5>

									</div>
									<div class="staff-hover-desc">
										<h2>Soleman</h2>
										<h5>hotel staff</h5>
										<p>There are many variaons of passa of Lorem Ipsuable, amrn in sofby injected
										   humour, amr.</p>
										<div class="scoial_icons">
											<a href="#"><i class="mdi mdi-facebook"></i></a>
											<a href="#"><i class="mdi mdi-rss"></i></a>
											<a href="#"><i class="mdi mdi-google-plus"></i></a>
											<a href="#"><i class="mdi mdi-instagram"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="single-staff">
								<div class="sraff-inner">
									<img src="images/staff/staff2.jpg" alt="">
									<div class="staff-title">
										<span class="plus"></span>
										<h2>Soleman</h2>
										<h5>hotel staff</h5>

									</div>
									<div class="staff-hover-desc">
										<h2>Soleman</h2>
										<h5>hotel staff</h5>
										<p>There are many variaons of passa of Lorem Ipsuable, amrn in sofby injected
										   humour, amr.</p>
										<div class="scoial_icons">
											<a href="#"><i class="mdi mdi-facebook"></i></a>
											<a href="#"><i class="mdi mdi-rss"></i></a>
											<a href="#"><i class="mdi mdi-google-plus"></i></a>
											<a href="#"><i class="mdi mdi-instagram"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="single-staff">
								<div class="sraff-inner">
									<img src="images/staff/staff3.jpg" alt="">
									<div class="staff-title">
										<span class="plus"></span>
										<h2>Soleman</h2>
										<h5>hotel staff</h5>

									</div>
									<div class="staff-hover-desc">
										<h2>Soleman</h2>
										<h5>hotel staff</h5>
										<p>There are many variaons of passa of Lorem Ipsuable, amrn in sofby injected
										   humour, amr.</p>
										<div class="scoial_icons">
											<a href="#"><i class="mdi mdi-facebook"></i></a>
											<a href="#"><i class="mdi mdi-rss"></i></a>
											<a href="#"><i class="mdi mdi-google-plus"></i></a>
											<a href="#"><i class="mdi mdi-instagram"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="single-staff">
								<div class="sraff-inner">
									<img src="images/staff/staff1.jpg" alt="">
									<div class="staff-title">
										<span class="plus"></span>
										<h2>Soleman</h2>
										<h5>hotel staff</h5>

									</div>
									<div class="staff-hover-desc">
										<h2>Soleman</h2>
										<h5>hotel staff</h5>
										<p>There are many variaons of passa of Lorem Ipsuable, amrn in sofby injected
										   humour, amr.</p>
										<div class="scoial_icons">
											<a href="#"><i class="mdi mdi-facebook"></i></a>
											<a href="#"><i class="mdi mdi-rss"></i></a>
											<a href="#"><i class="mdi mdi-google-plus"></i></a>
											<a href="#"><i class="mdi mdi-instagram"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="single-staff">
								<div class="sraff-inner">
									<img src="images/staff/staff2.jpg" alt="">
									<div class="staff-title">
										<span class="plus"></span>
										<h2>Soleman</h2>
										<h5>hotel staff</h5>

									</div>
									<div class="staff-hover-desc">
										<h2>Soleman</h2>
										<h5>hotel staff</h5>
										<p>There are many variaons of passa of Lorem Ipsuable, amrn in sofby injected
										   humour, amr.</p>
										<div class="scoial_icons">
											<a href="#"><i class="mdi mdi-facebook"></i></a>
											<a href="#"><i class="mdi mdi-rss"></i></a>
											<a href="#"><i class="mdi mdi-google-plus"></i></a>
											<a href="#"><i class="mdi mdi-instagram"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="single-staff">
								<div class="sraff-inner">
									<img src="images/staff/staff3.jpg" alt="">
									<div class="staff-title">
										<span class="plus"></span>
										<h2>Soleman</h2>
										<h5>hotel staff</h5>

									</div>
									<div class="staff-hover-desc">
										<h2>Soleman</h2>
										<h5>hotel staff</h5>
										<p>There are many variaons of passa of Lorem Ipsuable, amrn in sofby injected
										   humour, amr.</p>
										<div class="scoial_icons">
											<a href="#"><i class="mdi mdi-facebook"></i></a>
											<a href="#"><i class="mdi mdi-rss"></i></a>
											<a href="#"><i class="mdi mdi-google-plus"></i></a>
											<a href="#"><i class="mdi mdi-instagram"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="single-staff">
								<div class="sraff-inner">
									<img src="images/staff/staff1.jpg" alt="">
									<div class="staff-title">
										<span class="plus"></span>
										<h2>Soleman</h2>
										<h5>hotel staff</h5>

									</div>
									<div class="staff-hover-desc">
										<h2>Soleman</h2>
										<h5>hotel staff</h5>
										<p>There are many variaons of passa of Lorem Ipsuable, amrn in sofby injected
										   humour, amr.</p>
										<div class="scoial_icons">
											<a href="#"><i class="mdi mdi-facebook"></i></a>
											<a href="#"><i class="mdi mdi-rss"></i></a>
											<a href="#"><i class="mdi mdi-google-plus"></i></a>
											<a href="#"><i class="mdi mdi-instagram"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="single-staff">
								<div class="sraff-inner">
									<img src="images/staff/staff2.jpg" alt="">
									<div class="staff-title">
										<span class="plus"></span>
										<h2>Soleman</h2>
										<h5>hotel staff</h5>

									</div>
									<div class="staff-hover-desc">
										<h2>Soleman</h2>
										<h5>hotel staff</h5>
										<p>There are many variaons of passa of Lorem Ipsuable, amrn in sofby injected
										   humour, amr.</p>
										<div class="scoial_icons">
											<a href="#"><i class="mdi mdi-facebook"></i></a>
											<a href="#"><i class="mdi mdi-rss"></i></a>
											<a href="#"><i class="mdi mdi-google-plus"></i></a>
											<a href="#"><i class="mdi mdi-instagram"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="single-staff">
								<div class="sraff-inner">
									<img src="images/staff/staff3.jpg" alt="">
									<div class="staff-title">
										<span class="plus"></span>
										<h2>Soleman</h2>
										<h5>hotel staff</h5>

									</div>
									<div class="staff-hover-desc">
										<h2>Soleman</h2>
										<h5>hotel staff</h5>
										<p>There are many variaons of passa of Lorem Ipsuable, amrn in sofby injected
										   humour, amr.</p>
										<div class="scoial_icons">
											<a href="#"><i class="mdi mdi-facebook"></i></a>
											<a href="#"><i class="mdi mdi-rss"></i></a>
											<a href="#"><i class="mdi mdi-google-plus"></i></a>
											<a href="#"><i class="mdi mdi-instagram"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<!--Our staff end-->
	<!--Testimonial start-->
	<div class="staff-tesimonial text-center ptb-140">
		<div class="testimonail-bg-opacity"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="testimonial-list">
						<div class="single-testimonial">
							<h2>Louis Smith</h2>
							<p>There are many variations of passages of Lorem I available, but the majority have
							   suffered alteration in som, d humour, or randomised words which
							</p>
						</div>
						<div class="single-testimonial">
							<h2>Louis Smith</h2>
							<p>There are many variations of passages of Lorem I available, but the majority have
							   suffered alteration in som, d humour, or randomised words which
							</p>
						</div>
						<div class="single-testimonial">
							<h2>Louis Smith</h2>
							<p>There are many variations of passages of Lorem I available, but the majority have
							   suffered alteration in som, d humour, or randomised words which
							</p>
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>
	<!--Testimonial end-->
	<!--hotel team start-->
	<div class="hotel-team pt-100 white_bg">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="team-brand pb-100">
						<div class="single-team">
							<a href="#"><img src="images/brand/b-1.jpg" alt=""></a>
						</div>
						<div class="single-team">
							<a href="#"><img src="images/brand/b-4.jpg" alt=""></a>
						</div>
						<div class="single-team">
							<a href="#"><img src="images/brand/b-3.jpg" alt=""></a>
						</div>
						<div class="single-team">
							<a href="#"><img src="images/brand/b-4.jpg" alt=""></a>
						</div>
						<div class="single-team">
							<a href="#"><img src="images/brand/b-5.jpg" alt=""></a>
						</div>
						<div class="single-team">
							<a href="#"><img src="images/brand/b-1.jpg" alt=""></a>
						</div>
						<div class="single-team">
							<a href="#"><img src="images/brand/b-4.jpg" alt=""></a>
						</div>
						<div class="single-team">
							<a href="#"><img src="images/brand/b-3.jpg" alt=""></a>
						</div>
						<div class="single-team">
							<a href="#"><img src="images/brand/b-4.jpg" alt=""></a>
						</div>
						<div class="single-team">
							<a href="#"><img src="images/brand/b-5.jpg" alt=""></a>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
</div>
			</div>
		</div>
	</div>
	<!--hotel team end-->
	<!--Footer start -->
	<th:block th:include="client/fragment::footer-copyright"></th:block>
	<!-- Footer end -->
</div>


<div th:replace="client/fragment::javacriptLink"></div>
</body>

</html>