<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="client/fragment::baseHeader(~{::title},~{},~{})">
	<title>Liên hệ với chúng tôi</title>
</head>

<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
                                                                                                                       your
                                                                                                                       browser</a>
                          to improve your experience.</p>
<![endif]-->
<!-- Pre Loader
============================================ -->
<div class="preloader">
	<div class="loading-center">
		<div class="loading-center-absolute">
			<div class="object object_one"></div>
			<div class="object object_two"></div>
			<div class="object object_three"></div>
		</div>
	</div>
</div>

<div class="wrapper">
	<!--Header section start-->
	<div class="header-section about-us">
		<div class="bg-opacity"></div>
		<div th:insert="client/fragment::navbar"></div>
		<!--Welcome secton-->
		<div class="welcome-section text-center ptb-110">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="breadcurbs-inner">
							<div class="breadcrubs">
								<h2>Contact us</h2>
								<div class="breadcrubs-menu">
									<ul>
										<li><a href="#">Home<i class="mdi mdi-chevron-right"></i></a></li>
										<li>Contact us</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<!--Header section end-->
	<!-- search bar Start -->
	<div th:replace="client/fragment::search-bar"></div>
	<!-- search bar End -->
	<!--Conatct form area Start-->
	<div class="contact-form-info ptb-100 white_bg">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-12 col-xs-12">
					<div class="contact-form">
						<div class="contact-form-title mb-25">
							<h2>send your massage</h2>
						</div>
						<div class="contact-form-inner">
							<form id="contact-form" action="mail.php" method="post">
								<p class="form-messege"></p>
								<div class="form-field-top mb-20">
									<div class="form-field-name">
										<input name="name" type="text" placeholder="Your name">
									</div>
									<div class="form-field-name">
										<input name="email" type="text" placeholder="Your email">
									</div>
								</div>
								<div class="form-field-bottom">
									<div class="textarea">
										<textarea name="message" placeholder="Your messege"></textarea>
									</div>
									<div class="submit mt-30">
										<button type="submit">Submit</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-12 col-xs-12">
					<div class="contact-info">
						<div class="contact-info-title mb-25"><h3>contact info</h3></div>
						<div class="contact-adresses">
							<div class="phone mb-15">
								<p>
									<span><i class="mdi mdi-phone"></i></span>
									<span class="desc">+012 345 678 102 </span>
								</p>
							</div>
							<div class="mail mb-15">
								<p>
									<span><i class="mdi mdi-email"></i></span>
									<span class="desc">info@example.com</span>
								</p>
							</div>
							<div class="addresses">
								<p>
									<span><i class="mdi mdi-map-marker"></i></span>
									<span class="desc">House 09, Road 32, Mohammadpur,<br>Dhaka-1200, UK</span>
								</p>
							</div>
						</div>
						<div class="social-media mt-50">
							<h3 class="social-medai-title">social media</h3>
							<div class="social-media-list">
								<a href="#"><i class="mdi mdi-facebook"></i></a>
								<a href="#"><i class="mdi mdi-rss"></i></a>
								<a href="#"><i class="mdi mdi-google-plus"></i></a>
								<a href="#"><i class="mdi mdi-pinterest"></i></a>
								<a href="#"><i class="mdi mdi-instagram"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--Conatct form area end-->
	<!--Google Map Area Start-->
	<div class="google-map-area">
		<!--  Map Section -->
		<div id="contacts" class="map-area">
			<div id="googleMap"
			     style="width:100%;height:418px;filter: grayscale(100%);-webkit-filter: grayscale(100%);"></div>
		</div>
		<!--hotel team start-->
		<div class="hotel-team">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
	</div>
				</div>
			</div>

		</div>
		<!--hotel team end-->
	</div>
	<!--End of Google Map Area-->
	<!--Footer start -->
	<th:block th:include="client/fragment::footer-copyright"></th:block>
	<!-- Footer end -->
</div>


<!-- Google Map js
   ============================================ -->

<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key= AIzaSyAj9b_nyz33KEaocu6ZOXRgqwwUZkDVEAw"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script>
    function initialize() {
        var mapOptions = {
            zoom: 15,
            scrollwheel: false,
            center: new google.maps.LatLng(23.752831, 90.362238)
        };

        var map = new google.maps.Map(document.getElementById('googleMap'),
            mapOptions);


        var marker = new google.maps.Marker({
            position: map.getCenter(),
            animation: google.maps.Animation.BOUNCE,
            icon: 'images/map-marker.png',
            map: map
        });

    }

    google.maps.event.addDomListener(window, 'load', initialize);
</script>


<div th:replace="client/fragment::javacriptLink"></div>
</body>

</html>