<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">


<head th:replace="client/fragment::baseHeader(~{::title},~{},~{})">
	<title>Tin tức</title>
</head>


<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
                                                                                                                       your
                                                                                                                       browser</a>
                          to improve your experience.</p>
<![endif]-->
<!-- Pre Loader
============================================ -->
<div class="preloader">
	<div class="loading-center">
		<div class="loading-center-absolute">
			<div class="object object_one"></div>
			<div class="object object_two"></div>
			<div class="object object_three"></div>
		</div>
	</div>
</div>

<div class="wrapper">
	<!--Header section start-->
	<div class="header-section about-us">
		<div class="bg-opacity"></div>
		<div th:insert="client/fragment::navbar"></div>
		<!--Welcome secton-->
		<div class="welcome-section text-center ptb-110">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="breadcurbs-inner">
							<div class="breadcrubs">
								<h2>Our news</h2>
								<div class="breadcrubs-menu">
									<ul>
										<li><a href="#">Home<i class="mdi mdi-chevron-right"></i></a></li>
										<li>News</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--Header section end-->
	<!-- search bar Start -->
	<div th:replace="client/fragment::search-bar"></div>
	<!-- search bar End -->
	<div class="our-news text-center ptb-80 white_bg">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-title mb-80">
						<h2>our <span>News</span></h2>
						<!--						<p>There are many variations of passages of Lorem Ipsum available, but the majority have-->
<!--						   suffered by injected humour.</p>-->
					</div>
				</div>
			</div>
			<div class="news-list">
				<div class="row">
					<div class="our-news-list owl-pagination">
						<div class="single-view_post">
							<div class="col-md-12 pb-80">
								<div class="news-inner">
									<div class="news-img">
										<img src="images/news/n-1.jpg" alt="">
										<div class="news-post">
											<div class="n-date">15 June 2015</div>
											<a href="#" class="comment"><span><i
													class="mdi mdi-comment-processing-outline"></i></span> 20</a>
											<div class="news-views">
												<a href="#"><span><i class="mdi mdi-heart"></i></span>40</a>
											</div>
										</div>
									</div>
									<div class="news-desc">
										<h3 class="news-title"><a href="#">Best Things to Do In London Enjoy Your life
										                                   the Night life.</a></h3>
										<p class="news_desc">But I must explain to you how all this mistaken idea of
										                     denouncing pleasure and praising pain was born and I will
										                     give you a complete account of tystem, and expound the
										                     actual teachings of the great explorer of the truth, the
										                     master-builder uman happiness. No one rejects, dislikes, or
										                     avoids pleasure itself, because it</p>
										<div class="news-action">
											<div class="read-more">
												<a href="#">Read more</a>
											</div>
											<div class="news-share">
												<p>Share:</p>
												<a href="#"><i class="mdi mdi-facebook"></i></a>
												<a href="#"><i class="mdi mdi-rss"></i></a>
												<a href="#"><i class="mdi mdi-google-plus"></i></a>
												<a href="#"><i class="mdi mdi-instagram"></i></a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-12 pb-80">
								<div class="news-inner">
									<div class="news-img">
										<img src="images/news/n-2.jpg" alt="">
										<div class="news-post">
											<div class="n-date">15 June 2015</div>
											<a href="#" class="comment"><span><i
													class="mdi mdi-comment-processing-outline"></i></span> 20</a>
											<div class="news-views">
												<a href="#"><span><i class="mdi mdi-heart"></i></span>40</a>
											</div>

										</div>
									</div>
									<div class="news-desc">
										<h3 class="news-title"><a href="#">Best Things to Do In London Enjoy Your life
										                                   the Night life. </a></h3>
										<p class="news_desc">But I must explain to you how all this mistaken idea of
										                     denouncing pleasure and praising pain was born and I will
										                     give you a complete account of tystem, and expound the
										                     actual teachings of the great explorer of the truth, the
										                     master-builder uman happiness. No one rejects, dislikes, or
										                     avoids pleasure itself, because it</p>
										<div class="news-action">
											<div class="read-more">
												<a href="#">Read more</a>
											</div>
											<div class="news-share">
												<p>Share:</p>
												<a href="#"><i class="mdi mdi-facebook"></i></a>
												<a href="#"><i class="mdi mdi-rss"></i></a>
												<a href="#"><i class="mdi mdi-google-plus"></i></a>
												<a href="#"><i class="mdi mdi-instagram"></i></a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-12">
								<div class="news-inner">
									<div class="news-img">
										<img src="images/news/n-3.jpg" alt="">
										<div class="news-post">
											<div class="n-date">15 June 2015</div>
											<a href="#" class="comment"><span><i
													class="mdi mdi-comment-processing-outline"></i></span> 20</a>
											<div class="news-views">
												<a href="#"><span><i class="mdi mdi-heart"></i></span>40</a>
											</div>
										</div>
									</div>
									<div class="news-desc">
										<h3 class="news-title"><a href="#">Best Things to Do In London Enjoy Your life
										                                   the Night life.</a></h3>
										<p class="news_desc">But I must explain to you how all this mistaken idea of
										                     denouncing pleasure and praising pain was born and I will
										                     give you a complete account of tystem, and expound the
										                     actual teachings of the great explorer of the truth, the
										                     master-builder uman happiness. No one rejects, dislikes, or
										                     avoids pleasure itself, because it</p>
										<div class="news-action">
											<div class="read-more">
												<a href="#">Read more</a>
											</div>
											<div class="news-share">
												<p>Share:</p>
												<a href="#"><i class="mdi mdi-facebook"></i></a>
												<a href="#"><i class="mdi mdi-rss"></i></a>
												<a href="#"><i class="mdi mdi-google-plus"></i></a>
												<a href="#"><i class="mdi mdi-instagram"></i></a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="single-view_post">
							<div class="col-md-12 pb-80">
								<div class="news-inner">
									<div class="news-img">
										<img src="images/news/n-1.jpg" alt="">
										<div class="news-post">
											<div class="n-date">15 June 2015</div>
											<a href="#" class="comment"><span><i
													class="mdi mdi-comment-processing-outline"></i></span> 20</a>
											<div class="news-views">
												<a href="#"><span><i class="mdi mdi-heart"></i></span>40</a>
											</div>
										</div>
									</div>
									<div class="news-desc">
										<h3 class="news-title"><a href="#">Best Things to Do In London Enjoy Your life
										                                   the Night life.</a></h3>
										<p class="news_desc">But I must explain to you how all this mistaken idea of
										                     denouncing pleasure and praising pain was born and I will
										                     give you a complete account of tystem, and expound the
										                     actual teachings of the great explorer of the truth, the
										                     master-builder uman happiness. No one rejects, dislikes, or
										                     avoids pleasure itself, because it</p>
										<div class="news-action">
											<div class="read-more">
												<a href="#">Read more</a>
											</div>
											<div class="news-share">
												<p>Share:</p>
												<a href="#"><i class="mdi mdi-facebook"></i></a>
												<a href="#"><i class="mdi mdi-rss"></i></a>
												<a href="#"><i class="mdi mdi-google-plus"></i></a>
												<a href="#"><i class="mdi mdi-instagram"></i></a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-12 pb-80">
								<div class="news-inner">
									<div class="news-img">
										<img src="images/news/n-2.jpg" alt="">
										<div class="news-post">
											<div class="n-date">15 June 2015</div>
											<a href="#" class="comment"><span><i
													class="mdi mdi-comment-processing-outline"></i></span> 20</a>
											<div class="news-views">
												<a href="#"><span><i class="mdi mdi-heart"></i></span>40</a>
											</div>

										</div>
									</div>
									<div class="news-desc">
										<h3 class="news-title"><a href="#">Best Things to Do In London Enjoy Your life
										                                   the Night life. </a></h3>
										<p class="news_desc">But I must explain to you how all this mistaken idea of
										                     denouncing pleasure and praising pain was born and I will
										                     give you a complete account of tystem, and expound the
										                     actual teachings of the great explorer of the truth, the
										                     master-builder uman happiness. No one rejects, dislikes, or
										                     avoids pleasure itself, because it</p>
										<div class="news-action">
											<div class="read-more">
												<a href="#">Read more</a>
											</div>
											<div class="news-share">
												<p>Share:</p>
												<a href="#"><i class="mdi mdi-facebook"></i></a>
												<a href="#"><i class="mdi mdi-rss"></i></a>
												<a href="#"><i class="mdi mdi-google-plus"></i></a>
												<a href="#"><i class="mdi mdi-instagram"></i></a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-12">
								<div class="news-inner">
									<div class="news-img">
										<img src="images/news/n-3.jpg" alt="">
										<div class="news-post">
											<div class="n-date">15 June 2015</div>
											<a href="#" class="comment"><span><i
													class="mdi mdi-comment-processing-outline"></i></span> 20</a>
											<div class="news-views">
												<a href="#"><span><i class="mdi mdi-heart"></i></span>40</a>
											</div>
										</div>
									</div>
									<div class="news-desc">
										<h3 class="news-title"><a href="#">Best Things to Do In London Enjoy Your life
										                                   the Night life.</a></h3>
										<p class="news_desc">But I must explain to you how all this mistaken idea of
										                     denouncing pleasure and praising pain was born and I will
										                     give you a complete account of tystem, and expound the
										                     actual teachings of the great explorer of the truth, the
										                     master-builder uman happiness. No one rejects, dislikes, or
										                     avoids pleasure itself, because it</p>
										<div class="news-action">
											<div class="read-more">
												<a href="#">Read more</a>
											</div>
											<div class="news-share">
												<p>Share:</p>
												<a href="#"><i class="mdi mdi-facebook"></i></a>
												<a href="#"><i class="mdi mdi-rss"></i></a>
												<a href="#"><i class="mdi mdi-google-plus"></i></a>
												<a href="#"><i class="mdi mdi-instagram"></i></a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="single-view_post">
							<div class="col-md-12 pb-80">
								<div class="news-inner">
									<div class="news-img">
										<img src="images/news/n-1.jpg" alt="">
										<div class="news-post">
											<div class="n-date">15 June 2015</div>
											<a href="#" class="comment"><span><i
													class="mdi mdi-comment-processing-outline"></i></span> 20</a>
											<div class="news-views">
												<a href="#"><span><i class="mdi mdi-heart"></i></span>40</a>
											</div>
										</div>
									</div>
									<div class="news-desc">
										<h3 class="news-title"><a href="#">Best Things to Do In London Enjoy Your life
										                                   the Night life.</a></h3>
										<p class="news_desc">But I must explain to you how all this mistaken idea of
										                     denouncing pleasure and praising pain was born and I will
										                     give you a complete account of tystem, and expound the
										                     actual teachings of the great explorer of the truth, the
										                     master-builder uman happiness. No one rejects, dislikes, or
										                     avoids pleasure itself, because it</p>
										<div class="news-action">
											<div class="read-more">
												<a href="#">Read more</a>
											</div>
											<div class="news-share">
												<p>Share:</p>
												<a href="#"><i class="mdi mdi-facebook"></i></a>
												<a href="#"><i class="mdi mdi-rss"></i></a>
												<a href="#"><i class="mdi mdi-google-plus"></i></a>
												<a href="#"><i class="mdi mdi-instagram"></i></a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-12 pb-80">
								<div class="news-inner">
									<div class="news-img">
										<img src="images/news/n-2.jpg" alt="">
										<div class="news-post">
											<div class="n-date">15 June 2015</div>
											<a href="#" class="comment"><span><i
													class="mdi mdi-comment-processing-outline"></i></span> 20</a>
											<div class="news-views">
												<a href="#"><span><i class="mdi mdi-heart"></i></span>40</a>
											</div>

										</div>
									</div>
									<div class="news-desc">
										<h3 class="news-title"><a href="#">Best Things to Do In London Enjoy Your life
										                                   the Night life. </a></h3>
										<p class="news_desc">But I must explain to you how all this mistaken idea of
										                     denouncing pleasure and praising pain was born and I will
										                     give you a complete account of tystem, and expound the
										                     actual teachings of the great explorer of the truth, the
										                     master-builder uman happiness. No one rejects, dislikes, or
										                     avoids pleasure itself, because it</p>
										<div class="news-action">
											<div class="read-more">
												<a href="#">Read more</a>
											</div>
											<div class="news-share">
												<p>Share:</p>
												<a href="#"><i class="mdi mdi-facebook"></i></a>
												<a href="#"><i class="mdi mdi-rss"></i></a>
												<a href="#"><i class="mdi mdi-google-plus"></i></a>
												<a href="#"><i class="mdi mdi-instagram"></i></a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-12">
								<div class="news-inner">
									<div class="news-img">
										<img src="images/news/n-3.jpg" alt="">
										<div class="news-post">
											<div class="n-date">15 June 2015</div>
											<a href="#" class="comment"><span><i
													class="mdi mdi-comment-processing-outline"></i></span> 20</a>
											<div class="news-views">
												<a href="#"><span><i class="mdi mdi-heart"></i></span>40</a>
											</div>
										</div>
									</div>
									<div class="news-desc">
										<h3 class="news-title"><a href="#">Best Things to Do In London Enjoy Your life
										                                   the Night life.</a></h3>
										<p class="news_desc">But I must explain to you how all this mistaken idea of
										                     denouncing pleasure and praising pain was born and I will
										                     give you a complete account of tystem, and expound the
										                     actual teachings of the great explorer of the truth, the
										                     master-builder uman happiness. No one rejects, dislikes, or
										                     avoids pleasure itself, because it</p>
										<div class="news-action">
											<div class="read-more">
												<a href="#">Read more</a>
											</div>
											<div class="news-share">
												<p>Share:</p>
												<a href="#"><i class="mdi mdi-facebook"></i></a>
												<a href="#"><i class="mdi mdi-rss"></i></a>
												<a href="#"><i class="mdi mdi-google-plus"></i></a>
												<a href="#"><i class="mdi mdi-instagram"></i></a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--hotel team start-->
	<div class="hotel-team white_bg">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
</div>
			</div>
		</div>

	</div>
	<!--hotel team end-->
	<!--Footer start -->
	<th:block th:include="client/fragment::footer-copyright"></th:block>
	<!-- Footer end -->
</div>


<div th:replace="client/fragment::javacriptLink"></div>
</body>

</html>